div{
    padding-bottom: 20px;
    
}

h1{
    position : fixed;
    top : 0;
    left : 0;
    width : 100%;
    font-family : 'Noto Sans', sans-serif;
}

.center{
    text-align: center;
}

.dropdown{
    margin-right: 5px;
    
}

.custom-tabs-container{
    width : 50%;
}

.custom-tabs{
    background-color: #f9f9f9;
    padding: 0px 0px 24px 0px;
    border-bottom: 1px solid #4d4c4c;
}

.custom-tab{
    color:#586069;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    background-color: #fafbfc;
    padding: 12px !important;
    font-family: "system-ui";
    display : flex;
    align-items : center;
    justify-content: center;
}

.selected-tab{
    color: black;
    box-shadow: 1px 1px 0px white;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-top: 3px solid #e36209 !important;
}

.button{
    margin-right: 10px;
}

.nav-bar{

}

#side-layout{
    position : fixed;
    right: 0;
    flex-basis: auto;
}

#root-layout{
}

#year_range{
}

#numeric_input{
    color: #ffe102;
}

#zoom_in, zoom_out{
}

#toggle_switch{
    color: black;
}

#map{
    background-color: Cornsilk;
    height: 100%;
    width: 100%;
}

#image {
    height: 100%;
    width: 100%;
}